<div *ngIf="product">
  <div>
    <img [src]="product.image" alt="">
  </div>
  <div>
    <ul>
      <li>Nombre: {{product.title}}</li>
      <li>Precio: {{product.price | currency}}</li>
    </ul>
    <p>{{product.description}}</p>
  </div>
  <button class="btn btn-sucess" (click)="createProduct()">Crear producto</button>
  <button class="btn btn-sucess" (click)="updateProduct()">Actualizar producto</button>
  <button class="btn btn-sucess" (click)="deleteProduct()">Eliminar producto</button>
</div>
